@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700');
body, html {
  color: #133253 !important;;
  font-family: 'Nunito', sans-serif !important;;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 600 !important;;
  font-family: 'Nunito', sans-serif !important;;
  color: #133253 !important;
}

.md-header {
  color: #133253 !important;
  background-color: #FFDDAA !important;
  height: 3rem !important;
}

.md-header-nav__button.md-logo img, .md-header-nav__button.md-logo svg {
  height: 40px !important;
  width:  auto !important;
}

.md-header-nav__title {
  margin-top: 10px !important;
  padding-left: 2rem !important;
}

.md-search {
  margin-top: 10px !important;
}

.md-header-nav__button {
  line-height: 3rem !important;
}

.md-search__icon {
  color: #133253 !important;
}

::placeholder {
  color: #133253 !important;
}
